#productCardContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#f8f8f8 ;
    height: 500px;
}

.productImageContainer{
    padding: 15px;
    height: 70%;
}

.productImageClass{
    height: 100%;
    width: auto;
}